<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/CSS/ahead.css">
    <link rel="stylesheet" type="text/css" href="/CSS/list.css">
    <link rel="stylesheet" type="text/css" href="/CSS/Table.css">
    <script type="text/javascript" src="/jsc/jquery-3.1.1(1).js"></script>
    <script type="text/javascript" src="/jsc/animas.js"></script>
    <script type="text/javascript" src="/jsc/jump.js"></script>
    <script type="text/javascript" src="/jsc/PRC_Rquest.js"></script>
    <style>
        *{
            color: grey;
        }
        #body{
            background: wheat;
        }
       #contant{
           height: 700px;
           background: black;
       }
    </style>
</head>
<body id="body">
<script>
    var joy = document.getElementById("body")
    var emotion = new Array("(✿◠‿◠)","(͡° ͜ʖ ͡°)"," ≥Ö‿Ö≤ ","(ô‿ô)","≧◠◡◠≦ ","(>‿◠)","☜(ˆ▽ˆ)",
        "（‐＾▽＾‐）","ᕙ( ＾‿ゝ＾ c)","≧◔◡◔≦ ","≧◉◡◉≦","(¬‿¬)","(─‿‿─)","٩(●̮̃•)۶","\﻿(•◡•)/")
    joy.onclick = function client_smotiong(evt){
        var e = evt || window.event
        //var times = 10;
        var x = e.clientX-30
        var y = e.clientY +5
        var op = 1;
        var a = parseInt(Math.random()*255)
        var b = parseInt(Math.random()*255)
        var c = parseInt(Math.random()*255)
        var fon = document.createElement("font")
        var rand = parseInt(Math.random()*15)
        rand = document.createTextNode(emotion[rand])
        fon.appendChild(rand)
        fon.style.position = "fixed"
        fon.style.left = x+"px"
        fon.style.top = y+"px";
        fon.style.color = "rgba("+a+","+b+","+c+","+1+")"
        fon.style.fontWeight = 900;
        joy.appendChild(fon)
        var i=0;
        setInterval(function s(){
            fon.style.top = y+1*i+"px"
            i++;
            if(i%10==0)
            {
                op = op-0.1
                fon.style.color = "rgba("+a+","+b+","+c+","+op+")"
            }
            if(i==100)
            {
                joy.removeChild(fon)
                clearInterval(this)
            }
        },15)
    }
</script>
    <div id="ahead" >
        <hr/>
        <h1 >A组: Bitcoin Util</h1>
        <hr/>
    </div>
<div id="contant">
    <div id="list" >
        <div id="select" onmouseleave="clearspan()">
             <img src="">
                              {{/* 聚焦        失焦         按键按起 */}}
             <input type="text" onfocusin="" oninput="Query_List(this,6)" />
             <div id="tip">
{{/*      提示区           */}}
             </div>
        </div>
        <ul type="number">
            {{/*    2020年12月21日20:18:53   */}}
            {{range .List}}
                {{range $key,$value:= .}}
                        {{if eq $key 0}}
                         <li id="{{$value}}" onclick="Write_text(this)" onmouseover="Describe(this)" onmouseleave="Undescribe(this)">{{$value}}</li>
                         <div class="{{$value}}">
                        {{else}}
                           {{$value}}</div>
                        {{end}}
                {{end}}
            {{end}}
        </ul>
    </div>
{{/*    */}}
    <div id="table">
        <div id="View">

        </div>
        <div id="switch">
            <div id="commit"  >
                <font>命令:</font>
                <input type="text" placeholder="commit" value=""/>
                <button id="submit" onclick="RpcPost()">Submit</button>
            </div>
            <div  id="params">
                <font>参数:</font>
                <input type="text" placeholder="params" value="" />
                <button id="help">Help</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>