<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>错误</title>
    <style>
        body{
            background-image: linear-gradient(120deg,#3CA55C,#B5AC49);
        }
        div{
            border-radius: ;
            padding: 80px 40px;
            border-radius: 10px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
    <div>
        <h1>遇到了错误,请重试！</h1>
        {{.}}
    </div>
</body>
</html>