
#list{
    width: 260px;
    height: 600px;
    margin-left: 20px;
    background: antiquewhite;
    position: absolute;
}
/*搜索框*/
#list #select input{
    height: 22px;
    width: auto;
    width: 258px;
    border: 1px solid;
    text-indent: 30px;
    background: rgba(0,0,0,0);
}

/*搜索图标*/
#list #select img{
    width: 25px;
    height: 25px;
    position:absolute;
    float: left;
    background: red;
}
/*查询提示框 正常时隐藏*/
#tip{
    display: none;
    position: absolute;
    width: 235px;
    left: 26px;
    float: left;
    background:wheat;
    padding-left: 5px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius: 5px;
    border-bottom: 1px solid silver;
}

#tip span:hover{
    text-decoration: underline;
}

/*列表总体样式*/
#list ul li{
    display: block;
    cursor: pointer;
}
#list ul{
    height: 545px;
    overflow-y:scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
}
/*滑块样式*/
::-webkit-scrollbar{
    background: beige ;
    width: 16px;
    solid-color:burlywood ;
    z-index: 5;
}
::-webkit-scrollbar-button{
    height: 10px;
}
::-webkit-scrollbar-thumb{
    background: burlywood;

}
/**/

/*鼠标移入事件*/
#list ul li:hover{
    font-size: 20px;
    z-index: 10;
}

/*描述框 正常时隐藏*/
#list ul div{
    display: none;
    position: fixed;
    background: seashell;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px dashed;
    padding-bottom: 2px;
    padding-right: 5px;
}

