
#table{
    width: 1011px;
    height: 600px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 40px;
    background: #F7DF95;
    border: 1px #b8b8b8 solid;
}

#table #View{
    width: 1000px;
    height: 485px;
    padding-left: 10px;
    background: black;
    border: 1px #b8b8b8 solid;
    overflow-y: scroll ;
}
#table #switch{
    border: 1px #b8b8b8 solid;
    width: 995px;
    height: 102px;
    padding-top: 10px;
}
#switch div:first-child{
    margin-top: -6px;
}
#switch div:nth-child(2){
    margin-top: 3px;
}

#switch div font{
    margin-left: 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;

}
#table #switch  #commit{
    margin-top: 1px;
}
#table #switch #commit input::placeholder{
    color: #b8b8b8;
}
#table #switch #params input::placeholder{
    color: #b8b8b8;
}
/*命令框*/
#table #switch  #commit input{
    height: 38px;
    display: inline-block;
    font-size: 20px;
    width: 740px;
    margin-left: 10px;
    text-indent: 10px;
    font-weight: 700;
}
/*参数框*/
#table #switch #params input{
    height: 38px;
    width: 740px;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    text-indent: 10px;
    font-weight: 700;
}

#table #switch #submit {
    height: 44px;
    float: right;
    display: inline-block;
    margin-top: 1px;
    margin-right: 20px;
    width: 80px;
    background: #d5ae33;
}
#table #switch #clear{
    float: right;
    height: 44px;
    display: inline-block;
    margin-top: 1px;
    margin-right: 20px;
    width: 80px;
    background: #d5ae33;
}