
#Bitcoin_Addr{
    display: inline-block;
    position: absolute;
    bottom: 400px;
    margin-left: 20px;
}

#verify{
    width: 525px;
    height: 200px;
    display: block;
    border: 2px solid sandybrown;
    background: #d5ae33;
    margin-top: 10px;
}
#NewBit{
    background: #d5ae33;
    width: 525px;
    height: 200px;
    border: 2px solid sandybrown;
    display: block;
}

#NewBit #Addr{
    height: 50px;
    width: 500px;
    border: 1px solid gray;
    font-style: inherit;
    font-size: 18px;
    line-height: 48px;
    margin-left: 10px;
    text-indent: 10px;
    font-weight: 700;
    display: block;
    background: #F7DF95;
}
#NewBit #on_NewBit{
    display: inline-block;
    height: 48px;
    font-size: 30px;
    width: 100px;
    background: #d5ae33;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
#NewBit #status{
    font-size: 30px;
    line-height: 50px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    width: 300px;
    height: 50px;
}
#verify #BitcoinAddr{
    height: 50px;
    width: 500px;
    font-style: inherit;
    font-size: 18px;
    line-height: 48;
    background: #F7DF95;
    margin-left: 10px;
    text-indent: 10px;
    font-weight: 700;
    display: block;
}
#verify #on_verif{
    display: inline-block;
    height: 48px;
    font-size: 30px;
    width: 100px;
    background: #d5ae33;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#verify #res{
    font-size: 30px;
    line-height: 50px;
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    width: 300px;
    height: 50px;
}

::placeholder{
    font-size: 16px;
    line-height: 30px;
}